# 防止上传python缓存文件和敏感信息

# Python
__pycache__/
*.py[cod]
*.so

# Environments
.env
.venv
env/
venv/
ENV/

# IDE settings
.vscode/
.idea/

# OS specific
.DS_Store
Thumbs.db

# Logs
#logs/
#*.log

# Docker
docker-compose.override.yaml